@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	background-color: hsl(212, 45%, 89%);
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	font-family: "Outfit", sans-serif;
}

.main {
	background-color: hsl(0, 0%, 100%);
	width: 320px;
	border-radius: 20px;
	padding: 10px;
}

img {
	width: 100%;
	border-radius: 15px;
}

.nowrap {
	white-space: nowrap;
}

h1,
p {
	text-align: center;
}

h1 {
	color: hsl(218, 44%, 22%) m;
	font-size: 1.5rem;
	font-weight: 700;
}

p {
	color: hsl(220, 15%, 55%);
	font-size: 15px;
	font-weight: 400;
}