* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: hsl(212, 45%, 89%);
	min-height: 100vh;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Outfit", sans-serif;
}

.card {
	background-color: hsl(0, 0%, 100%);
	max-width: 20rem;
	border-radius: 20px;
	padding: 10px;
}

img {
	width: 100%;
	border-radius: 15px;
}

.nowrap {
	white-space: nowrap;
}

h1,
p {
	text-align: center;
}

h1 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-top: 15px;
	padding: 0 10px;
}

p {
	color: hsl(220, 15%, 55%);
	font-size: 1rem;
	font-weight: 400;
	margin-top: 15px;
	padding: 0 10px;
}